# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.temp/
.angular/
*.ngsummary.json

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# Logs
logs/
*.log

# Arquivos compilados
*.js.map
*.css.map